header{
    position: relative;
    top: 0px;
    border : 2px solid black;
    padding: 5px;
    width: 100vw;
    display: flex;
}

body{
    background-image: url('../sound/image/animal-hero-panda3.jpg');
    background-size: cover;
}